.body{
    background-color: hsl(225, 100%, 94%);
    font-family: fontone;
    margin-top: 100px;
    margin-bottom: 30px;
}
.picture-info{
width: 375px;
background-color: hsl(225, 100%, 97%);
border-radius: 20px;
margin: auto;
padding-bottom: 30px;
text-align: center;
font-family: fontone;
}
.image{
    width: 100%;

}
.picture-detail{
    color: hsl(224, 22%, 55%);

}
.h3{
    color: black;
    font-size: 22px;
    font-weight: 900;
}
.music-icon{
    display: flex;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}
.link{
    margin-top: 30px; 
    font-weight: bold;
    color: hsl(245, 75%, 52%); 
    margin-left: 30px;
}
.plan-text{
    margin-left: 30px;
}
.newp{
    font-weight: bold;
    block-size: 10px;
}
.second{
    background-color: hsl(245, 75%, 52%);
    height: 20px;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: fontone;
    border: none;
    margin-top: 40px;
    box-shadow: 12px 12px 10px rgba(77, 77, 206, 0.363);
}
.end{
    color: grey;
    font-size: 16px;
}
@font-face {
    font-family: fontone;
    src: url(static/RedHatDisplay-Bold.ttf);
}